@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
@import "tailwindcss";

@theme {
	--font-quicksand: "Quicksand", sans-serif;
	--color-black: #0e100f;
	--color-primary: #0ae448;
}
